.appart {
    margin: auto;
    max-width: 1240px;
    flex-grow: 1;

    &>* {
        font-family: Montserrat;
    }

    .appart-collapse {
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }

    .appart-tag {
        display: flex;
        gap: 10px;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .txt-section {
        display: flex;
        justify-content: space-between;
    }

    .left {
        h1 {
            margin: 10px 0;
            color: rgba(255, 96, 96, 1);
            font-weight: 500;
            font-size: 36px;
        }

        p {
            margin-bottom: 10px;

        }
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            color: rgba(255, 96, 96, 1)
        }
    }


    .localisation {
        font-weight: 500;
        font-size: 18px;
    }

    .appart-host {
        display: flex;
        font-size: 20px;
        color: black
    }

    .circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .equipment-list {
        list-style-type: none;
    }

}


@media (max-width: 900px) {

    .appart {
        max-width: 600px;

        .txt-section {
            flex-direction: column;
        }

        .txt-section .right {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        .appart-collapse {
            display: flex;
            flex-direction: column;
        }

        .collapse {
            width: 100% !important;
        }
    }


}


@media (max-width: 500px) {
    .appart {
        max-width: 400px;
    }

}