.text{
    position: relative;
    width: 1240px;
    height: 223px;
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
}

.text h1 {
    font-size: 45px;
    text-align: center;
    color: white;
    position: absolute;
    top: 0  ;
}

.text img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
