.error {
    text-align: center;

*{
    font-family: Montserrat;
}    

    h1 {
        margin: 0;
        font-size: 288px;
        color:rgba(255, 96, 96, 1); 
    }

    p{
        font-size: 36px;
        color:rgba(255, 96, 96, 1); 
    }

    a{
        color: black;
        font-size:18px;
    }
}