.infocard {
    margin: auto;
    max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgba(246, 246, 246, 1);
    border-radius: 25px;
}


@media (max-width: 900px) {

    .infocard {
        background: none;

    }

}