.text{
    width: 1240px;
    height: 223px;
    background-color: blue;
    margin: auto;
    border-radius: 25px;
}

.text h1 {
    text-align: center;
    color: white;
}


.infocard{
    margin: auto;
    width: 1240px;
    display: flex;
    flex-wrap: wrap;
    background: rgba(246, 246, 246, 1);
    border-radius: 25px ;
}