.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 15px auto;


    .nav-menu {
        a {
            margin: 15px 20px;
            font-family: Montserrat;
            text-decoration: none;
            color: black;
            font-size: 24px;
        }

        .active {
            // Styles pour le lien actif
            border-bottom: 2px solid black; // Soulignement bleu
        }
    }
}

@media (max-width: 600px) {
    .menu{
        .nav-menu {
            a {
                font-size: 15px;
                text-transform: uppercase;
                  
            }
        }
        img{
            width: 100px;
            }

    }
   
}

@media (max-width: 375px) {
    .menu{
        .nav-menu {
            a {
                font-size: 10px;
                text-transform: uppercase;
            }
        }

    }
   
}